* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

body::-webkit-scrollbar,
#symptomList::-webkit-scrollbar,
select::-webkit-scrollbar,
#result::-webkit-scrollbar,
#showMore::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track,
#symptomList::-webkit-scrollbar-track,
select::-webkit-scrollbar-track,
#result::-webkit-scrollbar-track,
#showMore::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
#symptomList::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb,
#result::-webkit-scrollbar-thumb,
#showMore::-webkit-scrollbar-thumb {
  background-color: #334299;
  outline: 1px solid slategrey;
}

option {
  font-weight: bold;
}

#header {
  height: 100vh;
  background-image: url(images/first.png);
  background-position: center;
  background-size: cover;
}
.container {
  margin-right: 100px;
  margin-left: 100px;
}
.logo {
  padding-top: 15px;
  height: 60px;
  width: auto;
}
.header-text {
  max-width: 350px;
  margin-top: 140px;
}
h1 {
  font-size: 25px;
  font-family: Trebuchet MS;
}
.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #63cdf5;
  margin: 15px 0;
}
.readmore-btn {
  margin-top: 5px;
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #63cdf5;
  font-weight: bold;
  cursor: pointer;
}
p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.text{
  width: 400px;
}
.more {
  display: none;
}
.header-text button {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 20px 0;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: #63cdf5;
  display: inline-block;
  margin: 30px 0;
}
.line-2 {
  width: 80px;
  height: 1px;
  background: #63cdf5;
  display: inline-block;
  margin: 10px 0;
}
.line-3 {
  width: 60px;
  height: 1px;
  background: #63cdf5;
  display: inline-block;
  margin: 10px 0;
}
.line {
  line-height: 8px;
}

#sideNav {
  width: 250px;
  height: 200vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #334299;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}

#menuBtn {
  display: none;
}

/*----about----*/

#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 98vw;
}
.about-left-col {
  flex-basis: 50%;
  text-align: right;
}
.about-left-col img {
  width: 150%;
}
.about-right-col {
  padding-top: 100px;
  flex-basis: 50%;
  text-align: right;
}
.about-text {
  max-width: 500px;
  display: inline-block;
}

.about-text h2 {
  max-width: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

/*----Why?---*/

#Why {
  padding-top: 80px;
  padding-bottom: 50px;
}
.why-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.why-col {
  flex-basis: 25%;
  text-align: center;
}
.why-col img {
  display: inline-block;
  width: 100px;
}
.why-col h4 {
  margin-bottom: 10px;
}

/*----sympcheck---*/

.container symcheck-row {
  padding-top: 200px;
  padding-bottom: 320px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.checker-left-col {
  flex-basis: 40%;
}

.why-col-2 {
  margin-bottom: 20px;
}

#sympcheck {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 220px;
}

.checkSymtoms {
  display: flex;
  flex-direction: column;
}

.select > select {
  text-align: center;
  height: 50px;
  outline: none;
  padding: 5px 0;
}

.select {
  width: 500px;
  border: 2px solid #334299;
}

#symtoms,
#resultContainer,
#showMore {
  margin: 20px 0;
  border: 2px solid #334299;
  font-weight: bold;
  padding: 10px 0;
}

#addSymptom,
#showResult,
#clear {
  margin-top: 5px;
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #63cdf5;
  font-weight: bold;
  cursor: pointer;
}

#symptomList,
#result,
#showMore {
  padding: 10px;
  height: 100px;
  overflow-y: scroll;
}

#sympcheck > div > h1 {
  margin-bottom: 20px;
}

#result > li {
  font-size: 0.8rem;
  list-style: none;
  margin: 10px 0px;
  cursor: pointer;
}

#showMore > div > p {
  font-size: 0.8rem;
  pointer-events: none;
}

#symptomList > li {
  pointer-events: none;
  margin: 10px 0px;
  font-size: 0.8rem;
}

#showMore {
  display: none;
}

#showMore > div > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #334299;
}

#showMore > div {
  margin: 10px 0;
  line-height: 20px;
}

.select {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 770px) {
  body {
    overflow-x: hidden;
  }

  #menuBtn {
    display: flex;
    width: 50px;
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
  }

  #header {
    background-image: none;
  }
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
  .logo {
    margin-top: 27px;
    width: 70px;
  }
  .header-text {
    margin-top: 100px;
  }
  h1 {
    font-size: 25px;
  }
  #menuBtn {
    width: 40px;
    right: 50px;
  }
  .read-more-btn {
    padding: 10px 16px;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-left-col img {
    background-image: none;
  }
  .more {
    display: none;
  }
  .about-text {
    flex-basis: 50%;
    max-width: 500px;
    margin-left: 90px;
    display: inline-block;
  }
  .about-text h2 {
    font-size: 18px;
  }
  .why-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .container checker-left-col {
    margin-left: 50px;
    flex-basis: 100%;
  }
  .logo {
    max-width: 40% !important;
    max-height: 40% !important;
    height: auto !important;
    width: auto !important;
  }

  .h1 {
    padding-top: 500px;
  }

  .text.showmore .more {
    display: inline;
  }
  .text.showmore .dot {
    display: none;
  }
}
